@import './var';

/*MIXINS*/
@mixin font($color: $primary-title-color, $font-settings: $section-title-font) {
  font: $font-settings;
  color: $color;
}
@mixin pseudoTriangle($t: unset, $l: unset, $r: unset, $b: unset) {
  content: '';
  position: absolute;
  top: $t;
  left: $l;
  bottom: $b;
  right: $r
}

/*TEMPLATES*/
%authBtn {
  border-radius: 15px;
  background-color: $auth-btn-background;
  border: $auth-btn-border;
  font: $auth-btn-font;
  letter-spacing: 0.04em;
  padding: 9px 57.5px;
}
%primaryBtn {
  background-color: $primary-btn-background;
  @include font($primary-btn-color, $primary-btn-font);
  box-shadow: $primary-btn-shadow;
  border: none;
  letter-spacing: 0.04em;
  padding: 18px 80.6px;
  border-radius: 15px;
}
%colonTimer {
  content: ':';
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: -13.5px;
  font: 900 24px/33px 'Nunito';
  color: $primary-title-color;
}
%costTextAccent {
  font: 700 20px/28px 'Nunito';
  letter-spacing: 0.05em;
}
%leftCostTriangle {
  border: 7px solid transparent;
  border-bottom: 7px solid #0e8958 !important;
  border-left: 7px solid #0e8958 !important;
}
%rightCostTriangle {
  border: 7px solid transparent;
  border-bottom: 7px solid #0e8958 !important;
  border-right: 7px solid #0e8958 !important;
}