@import "./reset";
@import "./var";
body {
  background-color: $background-color;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media (min-width: 575.98px){
  .container {
    padding: 0 calc(50% - 270px);
  }
}

@media (min-width: 767.98px){
  .container {
    padding: 0 calc(50% - 360px);
  }
}

@media (min-width: 991.98px) {
  .container {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: 1199.98px){
  .container {
    padding: 0 calc(50% - 697px);
  }
}