@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap'); // Rubik Font
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap'); // Nunito Font

/*Font-family*/
$primary-font-family: 'Rubik';
$secondary-font-family: 'Nunito';

/*Fonts*/
$main-title-font: 700 55px/122% $secondary-font-family;
$section-title-font: 700 32px/44px $secondary-font-family;
$common-font: 400 22px/150% $primary-font-family;
$paragraf-font: 400 18px/150% $primary-font-family;
$timer-num-font: 700 32px/38px $primary-font-family;
$timer-label-font: 400 16px/22px $secondary-font-family;
$label-font: 400 15px/166% $primary-font-family;
$point-card-font: 20px/24px $primary-font-family;
$policy-label-font: 400 15px/18px $primary-font-family;
$footer-caption-font: 400 20px/27px $secondary-font-family;
$footer-link-font: 700 20px/27px $secondary-font-family;
$plan-num-font: 700 40px/60px $primary-font-family;
$plan-text-font: 400 $point-card-font;

/*Colors*/
$primary-title-color: #1f1d2a;
$secondary-title-color: #ffffff;
$about-color: $primary-title-color;
$primary-text-color: #4f5569;
$orange-color: #ff652f;
$label-color: #9fa0a7;
$primary-accent-color: #14a76c;
$secondary-accent-color: #ff946e;
$checkbox-color: $primary-accent-color;
$question-separate-color: $primary-title-color;
$footer-link-color: $primary-title-color;
$footer-caption-color: $primary-text-color;

/*Box-shadow*/
$timer-shadow: 0px 5px 30px rgba(215, 211, 225, 0.5);
$primary-btn-shadow: 0px 15px 30px rgba(25, 218, 140, 0.25);
$point-card-shadow: 0px 5px 30px rgba(215, 211, 225, 0.5);
$secondary-btn-shadow: 0px 15px 30px rgba(218, 71, 25, 0.25);
$cost-shadow: 0px 5px 15px rgba(20, 167, 114, 0.2);

/*Btn config*/
$primary-btn-color: #ffffff;
$primary-btn-background: $primary-accent-color;
$secondary-btn-background: #e02d05;
$auth-btn-background: $secondary-title-color;
$primary-btn-font: 700 $point-card-font;
$auth-btn-font: 400 $point-card-font;
$auth-btn-border: 1px solid $primary-title-color;

/*global*/
$background-color: #f5f5f5;
$cost-item-color: $primary-accent-color;
